{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>MusicMe</h1>
    <p class="lead">Sebuah project yang tidak praktis demi mengejar S.T. Klik tombol untuk mulai </p>
    <p><a href="https://accounts.spotify.com/authorize?scope=user-read-private+playlist-modify-public+playlist-modify-private+user-library-read+user-library-modify&state=123&redirect_uri=http%3A%2F%2Fmusicme.azurewebsites.net%2Fthanks&response_type=token&client_id=346e5895466a486c92a73397c481cde9" class="btn btn-primary btn-large">Klik disini untuk token</a></p>
</div>

{% endblock %}
